node-red-flows/initial-flows.json
[{"id":"f40cb9ef.25dde","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"693d077c.50d098","type":"device-manager","z":"f40cb9ef.25dde","auth":"bluemix","name":"","apiKey":"","deviceType":"devices","method":"Create","deviceId":"","password":"","ignore":false,"x":820,"y":240,"wires":[["689451c.802893"]]},{"id":"957cdf7d.39307","type":"inject","z":"f40cb9ef.25dde","name":"Delete device","topic":"","payload":"{\"numberDevices\":1,\"deviceType\":\"simulate-iot\",\"deviceName\":\"motor\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":280,"wires":[["5491df44.39a39"]]},{"id":"67744dc3.f674e4","type":"device-manager","z":"f40cb9ef.25dde","auth":"bluemix","name":"","apiKey":"","deviceType":"","method":"Delete","deviceId":"","password":"","ignore":false,"x":780,"y":280,"wires":[["b58ed87b.07406"]]},{"id":"9624358b.27108","type":"function","z":"f40cb9ef.25dde","name":"Set message event","func":"var numberDevices = parseInt(msg.payload.numberDevices);\nvar deviceCount = 0;\nvar chunkSize = parseInt(msg.payload.chunkSize) || 500;\n\nchunkSize > 2000 ? 2000 : chunkSize;\nchunkSize > numberDevices ? numberDevices : chunkSize;\n\nvar typeId = msg.payload.typeId || \"devices\";\nvar password = msg.payload.authToken;\nvar deviceName = msg.payload.deviceName;\n\nvar chunks = numberDevices / chunkSize;\nvar deviceCreateCallback = function() {\n    var devicePointer = 0;\n    for (var cycle = 0 ; cycle <= chunks ; cycle++) {\n        msg.payload=[];\n        for (var i = 0 ; devicePointer < numberDevices && i < chunkSize ; i++) {\n            var singleDevice = {};\n            devicePointer++;\n            singleDevice.deviceId = deviceName + devicePointer;\n            singleDevice.typeId = typeId;\n            if(password) {\n                singleDevice.authToken = password;                \n            }\n            msg.payload.push(singleDevice);\n        }\n        if(msg.payload.length !== 0)\n            node.send(msg);\n    }\n}\ndeviceCreateCallback();\n//var timerId = setInterval(deviceCreateCallback, timerId);","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["693d077c.50d098"]]},{"id":"8e2161bf.ed48b8","type":"http in","z":"f40cb9ef.25dde","name":"","url":"/createdevices","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["1cfec43d.0445d4","918e0601.589608"]]},{"id":"32193800.cf4cd8","type":"http in","z":"f40cb9ef.25dde","name":"","url":"deletedevices","method":"post","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["1cfec43d.0445d4","6573ecd2.2909fc"]]},{"id":"c2ea8932.a3f72","type":"delay","z":"f40cb9ef.25dde","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":200,"wires":[["9624358b.27108"]]},{"id":"9073caa6.7ce458","type":"inject","z":"f40cb9ef.25dde","name":"create device","topic":"","payload":"{\"numberDevices\":1,\"typeId\":\"simulate-iot\",\"authToken\":\"mypassword\",\"chunkSize\":1,\"deviceName\":\"motor\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":200,"wires":[["c2ea8932.a3f72","88608877.dd3038"]]},{"id":"5491df44.39a39","type":"function","z":"f40cb9ef.25dde","name":"Count and Assign Props","func":"var numberDevices = msg.payload.numberDevices;\ndeviceArray = [];\nfor(count = 0 ; count < numberDevices ; count++) {\n    singleDevice = {};\n    singleDevice.typeId = msg.payload.deviceType;\n    singleDevice.deviceId = msg.payload.deviceName + (count+1); \n    deviceArray[count] = singleDevice;\n}\nmsg.payload = deviceArray;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["67744dc3.f674e4"]]},{"id":"689451c.802893","type":"debug","z":"f40cb9ef.25dde","name":"","active":false,"console":"false","complete":"payload","x":850,"y":380,"wires":[]},{"id":"1cfec43d.0445d4","type":"http response","z":"f40cb9ef.25dde","name":"","x":650,"y":340,"wires":[]},{"id":"c51335a5.da08e8","type":"device-type-manager","z":"f40cb9ef.25dde","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":false,"x":840,"y":200,"wires":[["689451c.802893"]]},{"id":"88608877.dd3038","type":"function","z":"f40cb9ef.25dde","name":"Override device type","func":"msg.payload.deviceType = msg.payload.typeId\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["c51335a5.da08e8"]]},{"id":"fdfc4ebb.7c591","type":"function","z":"f40cb9ef.25dde","name":"Set message event","func":"var msgevt = 0 ;\nvar msgCount = 0;\nvar numberEvents = msg.payload.numberEvents;\nvar numberDevices = msg.payload.numberDevices;\nvar timeInterval = msg.payload.timeInterval;\nvar deviceType = msg.payload.deviceType;\nvar deviceName = msg.payload.deviceName;\nvar speed = msg.payload.speed;\nvar time = msg.payload.timestamp;\n\nvar rpmLow = 1.0;\nvar rpmHigh = 3.0;\nvar ayLow = -1.0;\nvar ayHigh = 1.0;\nvar rpmArray = [];\nvar ayArray = [];\n\nfor (var j = 0 ; j < numberDevices ; j++) {\n    rpmArray[j] = parseFloat(((Math.random() * (rpmHigh - rpmLow /* + 1.0 */) + rpmLow)).toFixed(1));\n    ayArray[j] = parseFloat(((Math.random() * (ayHigh - ayLow) /* + 1.0 */)).toFixed(3));\n}\n\nvar callbackFunc = function() {\n    msgevt += 1;\n \n    if(msgevt >= numberEvents) {\n        clearInterval(timerId);\n    }\n    \n    for (var i = 1 ; i <= numberDevices ; i++) {\n        \n        msgCount += 1;\n        msg.payload = {};\n        msg.payload.d = {};\n\n        msg.payload.d.id = deviceName + i;\n        msg.payload.d.ts = new Date().getTime();\n        msg.payload.d.ay = ayArray[i-1];\n        msg.payload.d.running = true;\n        msg.payload.d.rpm = rpmArray[i-1];\n        msg.payload.d.speed = speed;\n        msg.payload.d.timestamp = time; \n        \n        direction = msg.payload.d.ts % 2 === 0 ? -0.1 : 0.1; \n        rpmArray[i-1] = parseFloat((rpmArray[i-1] + direction).toFixed(1));\n        direction = msg.payload.d.ts % 2 === 0 ? -0.05 : 0.05;\n        ayArray[i-1] = parseFloat((ayArray[i-1] + direction).toFixed(3));\n     \n        msg.payload.d.msgCount = msgCount;\n        msg.deviceId = deviceName + i;\n        msg.deviceType = deviceType;\n        node.send(msg);\n    }\n}\nvar timerId = setInterval(callbackFunc, timeInterval);","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["5878327d.745c4c","b58ed87b.07406"]]},{"id":"2f209c31.536434","type":"inject","z":"f40cb9ef.25dde","name":"Simulate device","topic":"","payload":"{\"numberDevices\":1,\"numberEvents\":3,\"timeInterval\":1000,\"deviceType\":\"simulate-iot\",\"deviceName\":\"motor\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":200,"y":520,"wires":[["fdfc4ebb.7c591"]]},{"id":"5878327d.745c4c","type":"ibmiot out","z":"f40cb9ef.25dde","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"xxx","deviceType":"simulate-iot","eventCommandType":"eventData","format":"json","data":"{\"d\":{\"speed\":22}}","qos":"","name":"IBM IoT","service":"registered","x":840,"y":500,"wires":[]},{"id":"22aba047.3c9e2","type":"http in","z":"f40cb9ef.25dde","name":"","url":"/increasespeed","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["8669aa74.6e3fa"]]},{"id":"8bc799a.24aef68","type":"function","z":"f40cb9ef.25dde","name":"update start time","func":"msg.payload.timestamp = new Date().toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["b58ed87b.07406"]]},{"id":"b58ed87b.07406","type":"debug","z":"f40cb9ef.25dde","name":"","active":false,"console":"false","complete":"true","x":830,"y":440,"wires":[]},{"id":"784ddcea.5bc554","type":"http in","z":"f40cb9ef.25dde","name":"","url":"/decreasespeed","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["8669aa74.6e3fa"]]},{"id":"8669aa74.6e3fa","type":"function","z":"f40cb9ef.25dde","name":"Speed Props","func":"msg.payload.speed = msg.payload.message;\nmsg.payload.numberEvents = 1;\nmsg.payload.numberDevices = 1;\nmsg.payload.timeInterval = 10;\nmsg.payload.deviceType = \"simulate-iot\";\nmsg.payload.deviceName = \"motor\";\nmsg.payload.timestamp = new Date().toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["fdfc4ebb.7c591","8bc799a.24aef68","689451c.802893"]]},{"id":"8c29bb54.f331e8","type":"http in","z":"f40cb9ef.25dde","name":"","url":"/belt","method":"get","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["3c3ece5e.6cf34a"]]},{"id":"3c3ece5e.6cf34a","type":"template","z":"f40cb9ef.25dde","name":"UI Displaysubmit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n    <head>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" type=\"text/css\">\n        <style>\n            .button-submit {\n                background-color: #e7e7e7; \n                border: none;\n                color: black;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n            .button-fast {\n                background-color: #008CBA; \n                border: none;\n                color: white;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n            .button-slow {\n                background-color: #f44336;\n                border: none;\n                color: white;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n            .button-create {\n                background-color: #4CAF50;\n                border: none;\n                color: white;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n            .button-delete {\n                background-color: #555555;\n                border: none;\n                color: white;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n            .button-start {\n                background-color: #4CAF50;\n                border: none;\n                color: white;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n            .button-stop {\n                background-color: #f44336;\n                border: none;\n                color: white;\n                padding: 15px 32px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 16px;\n            }\n        </style>\n        <script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n        <title>IoT</title>\n    </head>\n    <body style=\"background-color: 233949\" onload=\"events()\">\n        <div class=\"container\">\n        <div id=\"heading\"  class=\"jumbotron\" style=\"background-color: #233949; margin-top: 10px\">\n        <table style=\"width: 100%;\">\n          <tr>\n            <td>\n              <h2 style=\"color: #FFF\"> IBM IoT Device Simulation </h2>\n              <h4 style=\"color: #41D6C3;\"> Create, connect and simulate devices with Watson Data Platform </h4>\n            </td>\n          </tr>\n        </table><hr>\n        <table>\n            <tr>\n                <th><h2 class=\"jumbotron\" style=\"padding: 10px 25px; display: inline-block; color: #FFF; background-color: #233949\">Manage Device:</h2></th>\n                <th><button type=\"button\" onclick=\"manageDevice('createdevices','GET','Device created.')\" class=\"button-create jumbotron\"  style=\"margin-right: 10px\">Create</button></th>\n                <th><button type=\"button\" onclick=\"manageDevice('deletedevices','POST','Device deleted.')\" class=\"button-delete jumbotron\">Delete</button></th>\n            </tr>\n        </table><th><h3 class=\"message\" style=\"color: #41D6C3\"></h3></th><hr>\n        <table>\n            <tr>\n                <th><h2 class=\"jumbotron\" style=\"padding: 10px 25px; display: inline-block; color: #FFF; background-color: #233949\">Control Device:</h2></th>\n                <th><button type=\"button\" onclick=\"startDevice()\" class=\"button-start jumbotron\" style=\"margin-right: 10px\">Start</button></th>&nbsp;&nbsp;\n                <th><button type=\"button\" onclick=\"stopDevice()\" class=\"button-stop jumbotron\">Stop</button></th>\n            </tr>\n        </table>\n        <table>\n            <tr>\n                <th><button value=\"1\" class=\"button-fast jumbotron\" style=\"margin-right: 10px\">+</button></th>\n                <th><div><h3 class=\"speed\" style=\"margin-right: 10px; color: #FFF\"><b></b></h3></div></th>\n                <th><button value=\"-1\" class=\"button-slow jumbotron\">-</button></th>\n            </tr>\n        </table>\n        <button type=\"button\" onclick=\"controlDevice()\" class=\"button-submit jumbotron\">Submit Speed</button>\n        <pre class=\"events\" style=\"color: #41D6C3; background-color: #233949\"></pre>\n        </div>\n        <script type=\"text/javascript\">\n            var theSpeed = 0;\n            $('button').click(function(){\n                theSpeed = Number(theSpeed) + Number($(this).val());\n                $('.speed').text(\"SPEED: \"+theSpeed); \n            });\n            function controlDevice(){\n                $.ajax({\n                    type : \"GET\",\n                    url  : \"https://drone-simulator-app.eu-gb.mybluemix.net/sp?message=\"+theSpeed,\n                    data : parseInt(theSpeed),\n                    contentType: \"application/text\",\n                    success : \"success\",\n                    dataType: \"text\"\n                });\n                events();\n            }\n            function startDevice(){\n                var start = 0;\n                $.ajax({\n                    type : \"GET\",\n                    url  : \"https://simulate-iot.mybluemix.net/sp?message=\"+start,\n                    data : parseInt(start),\n                    contentType: \"application/text\",\n                    success : \"success\",\n                    dataType: \"text\"\n                });\n                theSpeed = start;\n                events();\n            }\n            function stopDevice(){\n                var stop = NaN;\n                $.ajax({\n                    type : \"GET\",\n                    url  : \"https://simulate-iot.mybluemix.net/sp?message=\"+stop,\n                    data : parseInt(stop),\n                    contentType: \"application/text\",\n                    success : \"success\",\n                    dataType: \"text\"\n                });\n                theSpeed = parseInt(stop);\n                events();\n            }\n            $('.speed').text(\"SPEED: \"+theSpeed);\n            function manageDevice(path, type, msg){\n                $.ajax({\n                    type : type,\n                    url  : \"https://simulate-iot.mybluemix.net/\"+path,\n                    data : \"\",\n                    success : \"success\"\n                });\n                $(\".message\").text(msg);\n                events();\n            }\n            function events(){\n                $.ajax({\n                    type:\"GET\", \n                    url: \"https://simulate-iot.mybluemix.net/events\", \n                    success: function(data) {\n                        $(\".events\").stop(true, true).hide(0).fadeIn().text(data);\n                    }, \n                    dataType: \"text\"\n                });\n            }\n        </script>\n    </body>\n</html>","x":410,"y":400,"wires":[["689451c.802893","1cfec43d.0445d4"]]},{"id":"f9cf6baa.230328","type":"http in","z":"f40cb9ef.25dde","name":"","url":"/sp","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["8669aa74.6e3fa"]]},{"id":"918e0601.589608","type":"function","z":"f40cb9ef.25dde","name":"Create Props","func":"msg.payload = {\"numberDevices\":1,\"typeId\":\"simulate-iot\",\"authToken\":\"mypassword\",\"chunkSize\":1,\"deviceName\":\"motor\"};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["c2ea8932.a3f72"]]},{"id":"6573ecd2.2909fc","type":"function","z":"f40cb9ef.25dde","name":"Delete Props","func":"msg.payload = {\"numberDevices\":1,\"deviceType\":\"simulate-iot\",\"deviceName\":\"motor\"};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["5491df44.39a39"]]},{"id":"d6ff9332.64598","type":"ibmiot in","z":"f40cb9ef.25dde","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"eventData","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":"","allCommands":"","allFormats":"","qos":0,"x":410,"y":520,"wires":[["dcd6273a.2292"]]},{"id":"e7c43013.d758c","type":"http response","z":"f40cb9ef.25dde","name":"","statusCode":"","headers":{},"x":510,"y":560,"wires":[]},{"id":"a9b1556d.59b11","type":"http in","z":"f40cb9ef.25dde","name":"","url":"/events","method":"get","upload":false,"swaggerDoc":"","x":170,"y":560,"wires":[["77554890.fe79b8"]]},{"id":"dcd6273a.2292","type":"cloudant out","z":"f40cb9ef.25dde","name":"events","cloudant":"","database":"events","service":"simulate-iot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":630,"y":520,"wires":[]},{"id":"77554890.fe79b8","type":"cloudant in","z":"f40cb9ef.25dde","name":"","cloudant":"","database":"events","service":"drone-simulator-app-cloudantNoSQLDB","search":"_all_","design":"evt","index":"display","x":310,"y":560,"wires":[["e7c43013.d758c","b58ed87b.07406"]]}]